set hlsearch
set incsearch

nmap ,w #*


" intellij
imap <C-]><ESC> " jisキーボードでもCtrl-[でエスケープ
nnoremap <silent> ,p :action ParameterInfo<CR> " パラメータを参照する
nnoremap <silent> ,c :action Compile<CR> " コンパイル
nnoremap <silent> ,l :action RecentChangedFiles<CR> " :lsの代わり。直近編集したファイルを一覧表示
